.btn {
  font-size: 15px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  padding: 14px 30px;
  border: none;
  border-radius: 100px;
  outline: 0 none;
  position: relative;
  z-index: 1;
}

@keyframes bounceHero {
  0% {
    top: 0px;
  }
  50% {
    top: 25px;
  }
  100% {
    top: 0px;
  }
}
section {
  padding: 100px 0;
}

.section-subtitle {
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
}

.section-title {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.text {
  font-size: 16px;
}

.card-title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}

.title-wrapper {
  margin-bottom: 50px;
}

.slick-list {
  padding: 50px 0;
}
.slick-list .slick-slide {
  margin: 0 15px;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth !important;
}

@media all and (min-width: 992px) {
  .cust-newmenu-main .navbar .has-megamenu {
    position: static !important;
  }
  .cust-newmenu-main .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 0;
  }
  .cust-newmenu-main .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .cust-newmenu-main .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .cust-newmenu-main .navbar .nav-item:hover .nav-link {
    color: #00698e;
  }
  .cust-newmenu-main .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0);
    -webkit-transform: rotateX(0);
    -moz-transform: rotateX(0);
    -ms-transform: rotateX(0);
    -o-transform: rotateX(0);
    padding-top: 0;
  }
  .cust-newmenu-main .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0 0;
  }
  .cust-newmenu-main .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
}
@media (max-width: 991px) {
  .cust-newmenu-main .navbar.fixed-top .navbar-collapse,
  .navbar.sticky-top .navbar-collapse {
    overflow-y: auto;
    max-height: 90vh;
    margin-top: 10px;
  }
  .d-show-none {
    display: none;
  }
}
.cust-newmenu-main .navbar .megamenu {
  padding: 1rem;
}
.cust-newmenu-main .navbar-dark .navbar-nav .nav-link {
  color: #4e4e4e !important;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0 !important;
  margin-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
}
.cust-newmenu-main .nav-tabs {
  border: none !important;
  padding-right: 15px;
}
.cust-newmenu-main .nav-tabs .nav-link {
  width: 100%;
  color: #000 !important;
  text-align: left;
}
.cust-newmenu-main .nav-tabs .nav-link.active {
  background: #eff9ff !important;
  border-radius: 5px;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cust-newmenu-main .nav-tabs .nav-link.active:hover {
  background: #00698e;
  color: black !important;
}
.cust-newmenu-main .nav-tabs .nav-link:hover {
  border-radius: 5px;
  border-color: transparent !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: black;
}
.cust-newmenu-main .navbar-brand img {
  height: 50px;
  margin: 0;
}
.cust-newmenu-main .menu-img-box {
  width: 110px;
  margin: 5px auto;
  min-height: 100px;
  text-align: center;
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.cust-newmenu-main .menu-img-box img {
  margin: 0 auto;
  padding: 5px;
  width: 55px;
  height: auto;
  margin-bottom: 5px;
  display: block;
}
.cust-newmenu-main .menu-img-box a {
  color: #333;
  font-weight: 500;
  font-size: 15px;
}
.cust-newmenu-main .menu-img-box:hover {
  background: rgba(0, 105, 142, 0.0509803922);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.cust-newmenu-main .dropdown-menu {
  min-width: 250px;
}
.cust-newmenu-main .dropdown-menu .nav-link {
  padding-top: 14px !important;
  padding-bottom: 14px !important;
}
.cust-newmenu-main .dropdown-menu .nav-link span {
  color: #000 !important;
  transition: color 0.2s ease;
  font-size: 14px;
  padding: 8px 0;
  width: 100%;
  max-width: 100%;
  text-transform: capitalize;
  font-weight: 400;
}
.cust-newmenu-main .dropdown-menu .nav-item span {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Lato", sans-serif !important;
}
.cust-newmenu-main .dropdown-menu .nav-item:hover .nav-link {
  background: #eff9ff !important;
  color: black !important;
  font-weight: 700;
}
.cust-newmenu-main .dropdown-menu .nav-item:hover .nav-link span {
  color: black !important;
  font-weight: 700;
}

.col-megamenu {
  margin-top: 1rem;
  border-right: 1px solid #CCCCCC;
}
.col-megamenu .nav-link {
  letter-spacing: 0.4px;
  text-transform: capitalize !important;
  font-weight: 400 !important;
}
.col-megamenu .nav-link.active {
  font-weight: 600 !important;
  background: #eff9ff !important;
  border: none !important;
  color: #000000 !important;
}
.col-megamenu .nav-link:hover {
  font-weight: 600 !important;
}

.MobileMenu-main {
  position: absolute;
  display: block;
  height: auto;
  top: 100%;
  width: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.MobileMenu-main.active {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.MobileMenu-main ul.menu {
  padding: 0;
  list-style: none;
  width: 100%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  clear: both;
  display: table;
  margin-bottom: 0;
  background: #fff;
}
.MobileMenu-main ul.menu .list {
  font-size: 14px;
  border-bottom: 1px solid #ddd;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  vertical-align: sub;
  background: #fff;
  clear: both;
}
.MobileMenu-main ul.menu .list:after {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0 5px;
  color: #00698e;
}
.MobileMenu-main ul.menu .list:hover:after {
  color: #fff;
}
.MobileMenu-main ul.menu .list a {
  text-decoration: none;
  color: #00698e;
  padding: 17px 0 17px 14px;
  display: block;
  height: 100%;
  box-sizing: border-box;
}
.MobileMenu-main ul.menu .list a:hover {
  background-color: #00698e;
  transition: 0.3s all;
  color: #fff;
}
.MobileMenu-main ul.menu .list .items {
  height: 0;
  overflow: hidden;
}
.MobileMenu-main ul.menu .list .items a {
  padding: 17px;
}
.MobileMenu-main ul.menu .list .items a:hover {
  background-color: #3f5d79;
  color: #fff;
  transition: 0.3s all;
}
.MobileMenu-main ul.menu .list:last-child {
  border-bottom: none;
}
.MobileMenu-main ul.menu .active:after {
  content: "\f106";
  font-family: FontAwesome;
  position: absolute;
  right: 17px;
  top: 17px;
  padding: 0 5px;
  color: #fff;
}
.MobileMenu-main ul.menu .active > .items {
  display: block;
  padding: 0;
  height: auto;
  color: #fff;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.2s;
  clear: both;
  float: left;
  width: 100%;
}
.MobileMenu-main ul.menu .active > .items li {
  padding: 0;
  list-style: none;
}
.MobileMenu-main ul.menu .active > .items li:last-child {
  border-color: transparent;
  padding-bottom: 0;
}
.MobileMenu-main ul.menu .active > .items .active > .items {
  background-color: #2f4b67;
}
.MobileMenu-main ul.menu .active > a {
  color: #fff;
  background: #00698e;
}
.MobileMenu-main ul.menu .active .list {
  background: #697d92;
}
.MobileMenu-main ul.menu .active .list a {
  padding: 17px 0 17px 45px;
}

.mobile-menu-fire {
  margin: 0;
  padding: 0;
  height: auto;
  width: 35px;
  background: 0 0;
  position: absolute;
  top: 28%;
  right: 17px;
  z-index: 100;
  float: right;
  cursor: pointer;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
  transform: translateY(-50%);
}
.mobile-menu-fire::before {
  background: #323232;
  content: "";
  display: block;
  height: 2px;
  width: 26px;
  position: absolute;
  top: 18px;
  border-radius: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.4s ease;
  transition: transform 0.4s ease 0s, opacity 0.4s ease;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.mobile-menu-fire::after {
  content: "";
  display: block;
  height: 2px;
  width: 26px;
  background: #323232;
  position: absolute;
  top: 23px;
  border-radius: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.4s ease;
  transition: transform 0.4s ease 0s, opacity 0.4s ease;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}
.mobile-menu-fire span {
  content: "";
  display: block;
  height: 2px;
  width: 26px;
  background: #323232;
  position: absolute;
  top: 13px;
  border-radius: 3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.4s ease;
  transition: transform 0.4s ease 0s, opacity 0.4s ease;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
  -webkit-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
}

/*mega menu right section start from here*/
.mega-right-section {
  border-radius: 0;
  margin: 0px auto;
  padding: 30px 10px 17px 18px;
  background: #f8f8f8;
  min-height: 100px;
  height: 100%;
}

.mega-right-section h5 {
  border: 1px solid transparent;
  padding: 20px 15px;
}

.mega-right-section h5.first {
  background: #EFF8FE;
  border: 1px solid #DEF2FF;
}

.mega-right-section h5:hover {
  background: #EFF8FE;
  border: 1px solid #DEF2FF;
}

.mega-right-section h5 a {
  text-transform: uppercase;
  font-size: 14px;
  color: #333;
}

.mega-right-section h5 a i {
  padding-left: 5px;
}

.mega-right-section h5 p {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  line-height: 1.5;
}

.welcome-area {
  background: rgba(0, 0, 0, 0) url("../images/bg/welcome_bg.jpg") no-repeat fixed center center/cover;
  height: 1000px;
  z-index: 1;
}
.welcome-area .welcome-shape {
  position: absolute;
  top: auto;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: -1;
}

.welcome-intro h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1em;
  letter-spacing: -1.6px;
}
.welcome-intro p {
  font-size: 16px;
}

.welcome-thumb-wrapper {
  position: relative;
  display: block;
  width: 100%;
}

.welcome-thumb-2 {
  position: absolute;
  top: 50%;
  left: 0;
}
.welcome-thumb-2 .welcome-animation {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

.welcome-thumb-3 {
  position: absolute;
  top: 55%;
  left: 36%;
}
.welcome-thumb-3 .welcome-animation {
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}

.welcome-thumb-4 {
  position: absolute;
  top: 94%;
  right: 0;
}
.welcome-thumb-4 .welcome-animation {
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
}

.welcome-thumb-5 {
  position: absolute;
  top: -18%;
  left: 25%;
}
.welcome-thumb-5 .welcome-animation {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}

.welcome-thumb-6 {
  position: absolute;
  top: -9%;
  right: 15%;
}
.welcome-thumb-6 .welcome-animation {
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}

.welcome-animation {
  position: relative;
  -webkit-animation: bounceHero 5s ease-in-out infinite;
  animation: bounceHero 5s ease-in-out infinite;
}

.bg-overlay {
  position: relative;
  z-index: 0;
}
.bg-overlay::after {
  background: linear-gradient(90deg, #693eaa 0%, #64dfff 100%);
  opacity: 0.95;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.welcome-area.bg-overlay::after {
  z-index: -2;
}

.shape {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  line-height: 0;
  direction: ltr;
  overflow: hidden;
  z-index: -1;
}

.shape-bottom {
  bottom: -1px;
  transform: rotate(180deg);
}
.shape-bottom svg {
  display: block;
  height: 275px;
  width: calc(228% + 1.3px);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-group {
  display: flex;
  gap: 20px;
}
.button-group .btn {
  color: #fff;
  border: 2px solid #fff;
  background: transparent;
  position: relative;
}
.button-group .btn::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background: #fff;
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  transition: all ease 0.4s;
}
.button-group .btn:hover {
  color: #00adee !important;
  border: 2px solid #fff;
}
.button-group .btn:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.service {
  background: #fafafa;
  position: relative;
  background: url("../images/bg/doodle-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
.service .section-title {
  color: #4e4e4e;
}
.service .section-subtitle {
  color: #00adee;
}
.service .service-card-wrapper {
  padding: 50px 0;
}
.service .service-card-wrapper .service-card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-top: 6px solid #1e93ff;
  transition: all 0.5s;
  width: 20rem;
  min-height: 15rem;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
}
.service .service-card-wrapper .service-card img {
  width: 80px;
  margin: 0 auto;
}
.service .service-card-wrapper .service-card .card-body {
  color: #4e4e4e;
}
.service .service-card-wrapper .service-card .card-body .card-title {
  font-weight: 700;
  transition: all 0.5s;
}
.service .service-card-wrapper .service-card .card-body .btn {
  color: #00adee;
  border: 2px solid #00adee;
  background: transparent;
  position: relative;
}
.service .service-card-wrapper .service-card .card-body .btn::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  right: 2px;
  bottom: 2px;
  background: linear-gradient(to top, #00adee 0%, #64dfff 100%);
  border-radius: inherit;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.2);
  transition: all ease 0.4s;
}
.service .service-card-wrapper .service-card .card-body .btn:hover {
  color: #fff !important;
}
.service .service-card-wrapper .service-card .card-body .btn:hover::before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.service .service-card-wrapper .service-card:hover {
  transform: translateY(-20px);
}
.service .service-card-wrapper .service-card:hover .card-body {
  color: #4e4e4e;
}
.service .service-card-wrapper .service-card:hover .card-body .card-title {
  color: #00adee;
}
.service .service-card-wrapper-2 {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em 1em;
}
.service .service-card-wrapper-2 .service-card {
  height: 150px;
  padding: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  transition: all 1s;
}
.service .service-card-wrapper-2 .service-card h2 {
  font-size: 1.3rem;
  position: relative;
  padding-left: 40px;
  transition: all 1s;
}
.service .service-card-wrapper-2 .service-card h2::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 5px;
  background: rgb(255, 255, 255);
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  transition: all 1s ease;
}
.service .service-card-wrapper-2 .service-card:hover h2 {
  transform: translateX(20px);
}
.service .service-card-wrapper-2 .service-card:hover h2::before {
  position: absolute;
  content: "";
  width: 35px;
}
.service .service-card-wrapper-2 .service-card:nth-child(even) {
  background: #00adee;
}
.service .service-card-wrapper-2 .service-card:nth-child(even) h2 {
  color: #fff;
}
.service .service-card-wrapper-2 .service-card:nth-child(even) h2::before {
  background: #fff;
}
.service .service-card-wrapper-2 .service-card:nth-child(odd) {
  background: #ffffff;
  color: #4e4e4e;
}
.service .service-card-wrapper-2 .service-card:nth-child(odd) h2::before {
  background: #4e4e4e;
}
.service .service-card-wrapper-2 .service-card:nth-child(odd):hover {
  background: #00adee;
}
.service .service-card-wrapper-2 .service-card:nth-child(odd):hover h2 {
  color: #fff;
}
.service .service-card-wrapper-2 .service-card:nth-child(odd):hover h2::before {
  background: #fff;
}

.medi-featire-main {
  background: linear-gradient(0deg, #693eaa 0%, #64dfff 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  position: relative;
}

.medi-featire-main .medifeature-circle-main {
  position: relative;
  padding-top: 100px;
}
.medi-featire-main .medifeature-circle-main .middle-circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle.size-xxl {
  width: 210px;
  height: 210px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle.size-m {
  width: 120px;
  height: 120px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle.size-xl {
  width: 170px;
  height: 170px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle.size-l {
  width: 140px;
  height: 140px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(1) {
  top: -52px;
  left: 27px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(2) {
  top: 219px;
  left: -58px;
  background: #fbfbfb;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(3) {
  top: 395px;
  left: 54px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(4) {
  top: 0px;
  right: 96px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(5) {
  top: 102px;
  right: -68px;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(6) {
  top: 323px;
  right: -5px;
  background: #fbfbfb;
}
.medi-featire-main .medifeature-circle-main .middle-circle .sub-circle:nth-child(7) {
  top: 392px;
  right: 115px;
  background: #fbfbfb;
}
.medi-featire-main .medifeature-circle-main .box-item {
  color: #fff;
}
.medi-featire-main .medifeature-circle-main .box-item .title {
  font-size: 1.285em;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
}
.medi-featire-main .medifeature-circle-main .box-item .content {
  line-height: 1.5;
}

.who-we-are {
  background: url("../images/bg/background-02.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.who-we-are .section-title {
  color: #4e4e4e;
}
.who-we-are .section-subtitle {
  color: #00adee;
}
.who-we-are .content {
  padding-right: 20px;
}
.who-we-are .content .text {
  margin-top: 50px;
}
.who-we-are .card-wrapper {
  margin-top: 50px;
}
.who-we-are .card-wrapper .card-col .card {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background: linear-gradient(0deg, #693eaa 0%, #64dfff 100%);
  width: 22rem;
  min-height: 26rem;
  border: none;
  color: #fff;
  padding: 30px 0;
  margin: 0 auto;
  transition: all 1s;
  cursor: pointer;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 20px;
}
.who-we-are .card-wrapper .card-col .card:hover {
  transform: translateY(-10px);
}
.who-we-are .card-wrapper .card-col .card .card-icon {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 500px;
  font-size: 5rem;
}
.who-we-are .card-wrapper .card-col .card .card-icon img {
  width: 60px;
}
.who-we-are .card-wrapper .card-col .card .card-body {
  text-align: center;
}
.who-we-are .card-wrapper .card-col .card .card-body h2 {
  font-size: 6em;
  opacity: 0.2;
  margin-bottom: 20px;
}
.who-we-are .card-wrapper .card-col .card .card-body .card-title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
}
.who-we-are .card-wrapper .card-col .card .card-body .card-text {
  text-align: center;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card {
  background: rgba(255, 255, 255, 0);
  color: #8d8d8d;
  position: relative;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(0deg, #693eaa 0%, #64dfff 100%);
  z-index: -1;
  transform: scaleY(0);
  opacity: 0;
  transition: all 0.5s;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card:hover {
  color: #ffffff;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card:hover::after {
  transform: scaleY(1);
  opacity: 1;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card:hover .card-icon {
  color: #ffffff;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card:hover .card-body .card-title {
  color: #ffffff;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card .card-icon {
  color: #64dfff;
  transition: all 1s;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card .card-body {
  text-align: center;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card .card-body .card-title {
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #64dfff;
}
.who-we-are .card-wrapper .card-col:nth-child(odd) .card .card-body .card-text {
  text-align: center;
}
.who-we-are .card-wrapper .card-col:nth-child(even) .card {
  background: linear-gradient(0deg, #693eaa 0%, #64dfff 100%);
  color: #fff;
}

.why-we-unique {
  background: #fafafa;
  position: relative;
  background: url("../images/bg/background-02.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.why-we-unique span {
  left: 0;
  right: 0;
  top: -105px;
  z-index: -1;
  width: 100%;
  position: absolute;
}
.why-we-unique .section-title {
  color: #4e4e4e;
}
.why-we-unique .section-subtitle {
  color: #00adee;
}
.why-we-unique .card-wrapper .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-radius: 0;
  border: none;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
  transition: all 1s;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.05);
  position: relative;
}
.why-we-unique .card-wrapper .card::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, #693eaa 0%, #64dfff 100%);
  transition: all 1s;
  z-index: -1;
}
.why-we-unique .card-wrapper .card:last-child {
  margin-bottom: 0;
}
.why-we-unique .card-wrapper .card .card-icon {
  flex-basis: 30%;
  padding: 20px;
  color: #00adee;
  font-size: 3rem;
}
.why-we-unique .card-wrapper .card .card-body {
  position: relative;
}
.why-we-unique .card-wrapper .card .card-body:before {
  content: "";
  position: absolute;
  height: 60%;
  width: 2px;
  background: #00adee;
  bottom: 50%;
  left: 0;
  transform: translate(-50%, 50%);
}
.why-we-unique .card-wrapper .card .card-body .card-title {
  color: #00adee;
  font-size: 1.5rem;
  font-weight: 600;
}
.why-we-unique .card-wrapper .card .card-body .card-text {
  color: #4e4e4e;
}
.why-we-unique .card-wrapper .card:hover {
  transform: translate(10px, 0px);
}
.why-we-unique .card-wrapper .card:hover:before {
  width: 100%;
}
.why-we-unique .card-wrapper .card:hover .card-icon {
  color: #ffffff;
}
.why-we-unique .card-wrapper .card:hover .card-body::before {
  background: #fff;
}
.why-we-unique .card-wrapper .card:hover .card-body .card-title {
  color: #ffffff;
}
.why-we-unique .card-wrapper .card:hover .card-body .card-text {
  color: #fff;
}

.skills {
  background: linear-gradient(90deg, #693eaa 0%, #64dfff 100%);
  position: relative;
}
.skills::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url("../images/bg/stars.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 9;
  top: 0;
  left: 0;
}
.skills .section-subtitle {
  color: #fff;
}
.skills .content .row {
  margin-bottom: 100px;
}
.skills .content .row .skill-title-part .skill-title {
  font-size: 2.5em;
  font-weight: 700;
  display: flex;
  align-items: baseline;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.skills .content .row .skill-title-part .skill-title span {
  font-size: 3em;
  font-weight: 700;
  -webkit-text-stroke: 2px #64dfff;
  -webkit-text-fill-color: transparent;
}
.skills .content .row .skill-image-part {
  text-align: center;
  transition: all 0.5s;
  position: relative;
}
.skills .content .row .skill-image-part .progress {
  margin: 0;
  text-align: center;
}
.skills .content .row .skill-text {
  color: #fff;
}
.skills .content .row:nth-child(odd) .skill-title-part .skill-title span {
  color: #9bd044;
  -webkit-text-stroke: 2px #9bd044;
}
.skills .content .row:nth-child(odd) .skill-image-part::after {
  position: absolute;
  content: "";
  background: url("../images/right_arrow.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  right: -46%;
  bottom: -65%;
  left: auto;
  z-index: 999999;
}
.skills .content .row:nth-child(even) .skill-title-part .skill-title span {
  color: #fff500;
  -webkit-text-stroke: 2px #fff500;
}
.skills .content .row:nth-child(even) .skill-image-part::after {
  position: absolute;
  content: "";
  background: url("../images/left_arrow.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  left: 15%;
  bottom: -65%;
  right: auto;
  z-index: 999999;
}
.skills .content .row:last-child {
  margin-bottom: 0;
}
.skills .content .row:last-child .skill-image-part::after {
  background: none;
}

.counter-section .counter-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}
.counter-section .counter-card .card-img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background: linear-gradient(90deg, #693eaa 0%, #64dfff 100%);
  border-radius: 50%;
  padding: 25px;
}
.counter-section .counter-card .counter {
  font-size: 3em;
  font-weight: 600;
  color: #64dfff;
  margin-bottom: 0;
}
.counter-section .counter-card .title {
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  color: #4e4e4e;
}

.testimonial {
  background: #fafafa;
  position: relative;
}
.testimonial .bg-icon {
  position: absolute;
}
.testimonial .bg-icon-1 {
  left: 0;
}
.testimonial .bg-icon-2 {
  right: 0%;
  bottom: 0%;
  opacity: 0.3;
  width: 200px;
}
.testimonial .title-wrapper .section-subtitle {
  color: #64dfff;
}
.testimonial .testimonial-wrapper .slick-arrow {
  font-size: 1.5em;
  background: #e5e5e5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  transition: all 1s;
}
.testimonial .testimonial-wrapper .slick-arrow:hover {
  background: #00adee;
}
.testimonial .testimonial-wrapper .testimonial-card {
  width: 800px !important;
  min-height: 300px !important;
  background: linear-gradient(90deg, #693eaa 0%, #64dfff 100%);
  border-radius: 30px;
  padding: 40px 60px;
  display: flex !important;
  flex-direction: column;
  justify-content: space-evenly !important;
  margin: 0 auto;
  text-align: justify;
  color: #fff;
}
.testimonial .testimonial-wrapper .testimonial-card .client-img {
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: -85px auto 0 auto;
}
.testimonial .testimonial-wrapper .testimonial-card .client-img img {
  width: 70%;
  margin: auto;
}
.testimonial .testimonial-wrapper .testimonial-card .testimonial-body {
  position: relative;
}
.testimonial .testimonial-wrapper .testimonial-card .testimonial-body .client-text {
  font-size: 1.5em;
  margin-bottom: 50px;
}
.testimonial .testimonial-wrapper .testimonial-card .testimonial-body .client-name {
  font-size: 2em;
  font-style: italic;
}
.testimonial .testimonial-wrapper .testimonial-card .testimonial-body .rating i {
  color: #fff500;
}
.testimonial .testimonial-wrapper .testimonial-card .testimonial-body i.quote {
  position: absolute;
  font-size: 10rem;
  opacity: 0.2;
  right: 0;
  bottom: 0;
}

.client-section .client-wrapper .client-logo {
  width: 120px !important;
  cursor: pointer;
}
.client-section .client-wrapper .client-logo img {
  filter: opacity(0.3) grayscale(1);
  transition: all 1s;
}
.client-section .client-wrapper .client-logo:hover img {
  filter: unset;
}

.footer {
  background: #693eaa;
  padding-bottom: 0;
}
.footer .single-row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2862745098);
  padding: 50px 0;
}
.footer .single-row:first-child {
  padding-top: 0;
  padding-bottom: 0;
}
.footer .single-row:last-child {
  border: none;
  padding-top: 0;
  padding-bottom: 0;
}
.footer .single-row .footer-widgets {
  color: #fff;
}
.footer .single-row .footer-widgets .footer-widgets-title {
  margin-bottom: 30px;
}
.footer .single-row .footer-widgets .footer-desc {
  width: 80%;
}
.footer .single-row .footer-widgets .footer-desc p {
  color: rgba(255, 255, 255, 0.4509803922) !important;
  text-align: justify;
}
.footer .single-row .footer-widgets .nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.4509803922) !important;
  padding-left: 0;
}
.footer .single-row .footer-widgets .nav .nav-item .nav-link:hover {
  color: #fff !important;
}
.footer .single-row .footer-widgets .nav .nav-item .nav-link span {
  display: block;
}
.footer .single-row .footer-widgets .table {
  color: rgba(255, 255, 255, 0.4509803922) !important;
}
.footer .single-row .footer-widgets .table tbody tr td {
  text-align: justify;
}
.footer .single-row .footer-widgets .table tbody tr td:first-child {
  color: #fff;
  font-weight: 600;
}
.footer .single-row .footer-widgets .table tbody tr td span {
  display: block;
}
.footer .single-row .footer-widgets .table tbody tr td span:first-child {
  color: #fff;
  font-weight: 600;
}
.footer .single-row .footer-widgets .footer-logo {
  width: 250px;
  margin-bottom: 30px;
}
.footer .single-row .footer-widgets .footer-subscription form {
  position: relative;
  margin-top: 30px;
  width: 80%;
}
.footer .single-row .footer-widgets .footer-subscription form input {
  height: 55px;
  border-radius: 100px;
  border: none;
  padding: 10px 20px;
}
.footer .single-row .footer-widgets .footer-subscription form .subscription-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #693eaa;
  border: none;
  color: #fff;
}
.footer .single-row .footer-widgets .social {
  margin-top: 30px;
}
.footer .single-row .footer-widgets .social a {
  transition: all 0.5s;
  padding: 10px;
}
.footer .single-row .footer-widgets .social a i {
  color: #ffffff;
  font-size: 2.2em;
  opacity: 0.5;
  transition: all 0.5s;
}
.footer .single-row .footer-widgets .social a:hover {
  transform: scale(1.2);
}
.footer .single-row .footer-widgets .social a:hover i {
  opacity: 1 !important;
}
.footer .single-row .copyright {
  padding: 15px 0;
}
.footer .single-row .copyright p {
  color: #fff;
  font-weight: 600;
}
.footer .single-row .copyright p a {
  color: #fff;
  text-decoration: none;
}
.footer .single-row .member-col {
  border-right: 1px solid rgba(255, 255, 255, 0.3490196078);
}
.footer .single-row .member-col:last-child {
  border: none;
}
.footer .single-row .member-col .member-partner h5 {
  color: #fff;
  text-transform: uppercase;
}
.footer .single-row .member-col .member-partner .nav .nav-item .nav-link {
  padding-left: 0;
}
.footer .single-row .member-col .member-partner .nav .nav-item .nav-link .parter-img {
  width: 70px;
}/*# sourceMappingURL=style.css.map */